img {
    width: 600px;
}
body {
    text-align: center;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 75;
    color: white;
}
h1 {
    font-size: 50;
}